# Binaries
/bin/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# PixelForge uploaded and processed media
/data/

# Database
*.db
*.db-shm
*.db-wal

# IDE / Editor files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
